@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

/*body {
    background-size: 80px 80px;
    background-image: linear-gradient(to right, #e7e7e7 1px, transparent 1px), linear-gradient(to bottom, #e7e7e7 1px, transparent 1px);
}*/

/** { box-sizing:border-box; }*/

/*body { background:url(https://subtlepatterns.com/patterns/little_pluses.png) #cacaca; margin:30px; }*/

/*#create, textarea  {
  float:left;
  padding:25px 25px 40px;
  margin:0 20px 20px 0;
  width:250px;
  height:250px;
}

#create {
  user-select:none;
  padding:20px;
  border-radius:20px;
  text-align:center;
  border:15px solid rgba(0,0,0,0.1);
  cursor:pointer;
  color:rgba(0,0,0,0.1);
  font:220px "Helvetica", sans-serif;
  line-height:185px;
}

#create:hover { border-color:rgba(0,0,0,0.2); color:rgba(0,0,0,0.2); }*/

textarea {
  float:left;
  padding:25px 25px 40px;
  margin:0 20px 20px 20px;
  width:120px;
  height:120px;
  font:20px 'Shadows Into Light', monospace;
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  resize: none;
/*  max-width:250px;
  max-height:250px;*/
}
textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }