body {
  font: 14px/18px Arial, sans-serif;
  text-align: center;
  background-color: #efefef;
  display: block;
  margin: 8px;
}

/*--------------------------------------------------------------
      TOOLBAR
--------------------------------------------------------------*/

.toolbar {
  background: #fff;
  padding: 0;
  position:absolute;
  top:25%;
  width:3.5em;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0,0,0,.5);
}

.toolbar li {
  list-style: none;
  width: 100%;
}
.toolbar a{
  margin: 0;
  background: #fff;
  border-left: 1px solid rgba(255,255,255,.3);
  border-right: 1px solid rgba(255,255,255,.3);
  color: #222;
  display: block;
  font-size: 1.5em;
  line-height: 2.2em;
  text-decoration: none;
}

.toolbar li:first-child a {
  border-radius:4px 4px 0 0;
}

.toolbar li:last-child a {
  border-radius:0 0 4px 4px;
}

.toolbar a:hover {
  background: #328dfc;
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.toolbar a:active{
  background: #2367ba;
  box-shadow: 0 2px 3px rgba(0,0,0,.3) inset;
  text-shadow: 0 -1px 0 #666;
}

/*---------------------------
      Dropdown Menu
---------------------------*/

.dropright .dropdown-toggle::after {
  display: none;
}

.dropright .dropdown-menu {
  border-radius: 4px;
}

.dropright .dropdown-menu.show {
  box-shadow: 3px 3px 6px rgba(0,0,0,.5);
  /*border-radius: 4px;*/
  border: 1px solid rgba(255,255,255,.3);
  height: fit-content;
  display: flex;
  padding: 0;
}

.dropright .dropdown-menu.show li:first-child a {
  border-radius:4px 4px 0 0;
}

.dropright .dropdown-menu.show li:last-child a {
  border-radius:0 0 4px 4px;
}

.dropright .dropdown-menu.show a:hover {
  background: #328dfc;
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.dropright .dropdown-menu.show a:active{
  background: #2367ba;
  box-shadow: 0 2px 3px rgba(0,0,0,.3) inset;
  text-shadow: 0 -1px 0 #666;
}

.dropright .dropdown-item {
  display: flex;
  padding: 8px 8px;
}

/*-------------------------------------
          image input
-------------------------------------*/

.toolbar input::after {
  display: none;
}



