body {
  margin: 8px;
  font: 14px/18px Arial, sans-serif;
  text-align: center;
  background-color: #efefef;
  background-image:
/*    linear-gradient(rgba(200,200,200,.25) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200,200,200,.25) 1px, transparent 1px),*/
    linear-gradient(rgba(200,200,200,.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200,200,200,.15) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

