body {
  font: 14px/18px Arial, sans-serif;
  text-align: center;
  background-color: #efefef;
}

/*--------------------------------------------------------------
       TOOLBAR - TOP
--------------------------------------------------------------*/

.logo3 {
  position: absolute;
  left: 15em;
  top: 1.3em;
}

.toolbar.top {
  top: 0;
  display: flex;
  /*margin:0 0 0 5em;*/
  padding: 0;
  position:absolute;
  width:13.5em;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0,0,0,.5);
}

.toolbar li {
  list-style: none;
  width: 100%;
}
.toolbar a{
  margin: 0;
  background: #fff;
  border-left: 1px solid rgba(255,255,255,.3);
  border-right: 1px solid rgba(255,255,255,.3);
  color: #222;
  display: block;
  font-size: 1.5em;
  line-height: 2.2em;
  text-decoration: none;
}

.toolbar.top li:first-child a {
  border-radius:4px 0 0 4px;
}

.toolbar.top li:last-child a {
  border-radius:0 4px 4px 0;
}

.toolbar a:hover {
  background: #328dfc;
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.toolbar a:active{
  background: #2367ba;
  box-shadow: 0 2px 3px rgba(0,0,0,.3) inset;
  text-shadow: 0 -1px 0 #666;
}

.pName {
  width: 100%;
  /*padding: 0 1em 0 1em;*/
}

.home {
  border-right: 1px solid #ccc;
}

.camera {
  border-left: 1px solid #ccc;
}